@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: rgba(255, 0, 0, 1);
}


.navbar a{
  font-weight: 600;
  font-size: 18px;
}

.navbar {
  grid-area: navbar;
  background-color: rgba(140, 150, 160, 0.7);
}

.sidebar {
  grid-area: sidebar;
  background-color: rgba(140, 150, 160, 0.7);
}

.main {
  grid-area: main;
  background-color: rgba(140, 150, 160, 0.7);
}

/*.footer {
  grid-area: footer;
  background-color: rgba(140, 150, 160, 0.7);
}*/

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "navbar"  50px
    "main"    auto
    "sidebar" 100px
    "footer"  100px;
}

@media (min-width: 600px) {
  .grid-container {

    grid-template:
      "header  header" 100px
      "navbar  navbar" 50px
      "sidebar main"   auto
      "footer  footer" 100px /
      200px    auto;
  }
}

@media (min-width: 767px) {
  .grid-container {
    grid-template:
      "header  header header"  100px
      "navbar  main   sidebar" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }

  .carousel-item{
    min-height: 500px;
  }

  .carousel-item img{
    height: 500px;
  }
  

}
  
/*[class*=" lupa-"],[class^=lupa-] {
  display: inline-block;
  font-family: cartzilla-icons!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1
}*/


/*body {
    background-image: url('volcanPoas.jpg');
    background-size: cover;
    background-repeat: repeat;
}*/