:root {
    --background: #2C2C2C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 150%;
    
}
 


body {
    background-color: var(--background);
    display: grid;
    height: 100vh;
    margin: 0px;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    margin: auto;
} 
  
